<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>{{ site.name }}</title>

    <meta name="author" content="Alexander Safatli" />
    <meta name="description" content="Alexander Safatli is a software engineer and this is his personal webpage." />

    <!-- Style -->
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" media="all" />

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Rubik:400,300,300italic,400italic' rel='stylesheet' type='text/css' />

    <!-- Icons -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="shortcut icon" href="favicon.ico">

    </head>
