/* Alex Safatli 2016 - Adapted from Cactus Theme (https://github.com/nickbalestra/kactus) */

/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,
acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,
sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,fieldset,form,label,legend,table,caption,
tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,
footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,
video {
  border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;
  padding:0;text-decoration:none;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}
body{line-height:1;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:none;}
table{border-collapse:collapse;border-spacing:0;}
*, *:before, *:after { 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}

/* Base Utility */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.hidden { display: none; }

/* Spacing */
h1, h2, h3, h4, h5, p, ul, li, pre, code {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 img {
  vertical-align: middle;
}

/* Base */
html, body { height: 100%; }

body {
  font-family: "Merriweather", serif;
  font-size: 16px;
  line-height: 18px;
  color: #666;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#wrapper {
  max-width: 650px;
  margin: 0 auto;
  padding: 0px 40px 20px 40px;
}

.home #avatar {
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Typography */
a,
#title,
#post-list a:hover,
#post-list li:hover .dates,
#title:hover {
  text-decoration: none;
  color: #222;
}

p a { color: #222; }

#content a {
  color: #888;
  text-decoration: none;
  border-bottom:1px solid #bbb;
}

#content a:hover {
  color: black;
  border-bottom-color: black;
}

a.btn {
  display: inline-block;
  padding: .25rem 1rem;
}

#content a.btn {
  color: #222;
  border: 0.15em solid #222;
}

#content a.btn:hover,
nav a.btn:hover {
  color: black;
  border-color: black;
}

#content {
  line-height: 1.5;
  font-size: 17px;
}

p.lead {
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 300;
}

p.header-lead {
  margin-bottom: 0;
  color: #888;
}

p.box {
  color: #222;
  border: solid 1px #222;
  background-color: #ead1d7;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 14px 20px;
}

li { margin: 0 0 10px 0; }

.light {
  font-weight:300;
  font-stretch:normal;
}

b, strong { 
  font-weight: bold; 
}
em, i {
  font-style: italic; 
}
abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

#title {
  display: inline-block;
  line-height: 100%;
  font-weight: 500;
  font-size: 19px;
  margin: 0;
  padding-bottom: 20px;
}

.description {
  float: right;
  color: #bbb;
}

.logo {
  color: #bbb;
}

.post header {
  text-align:center;
}

.post h1 {
  margin-bottom: 20px;
  color: #888;
  font: 300 32px/1.4em "Varela Round", Helvetica, Arial, sans-serif;
}

.post h2 {
  margin-bottom: 40px;
  font: 300 24px/1.5 "Varela Round", Helvetica, Arial, sans-serif;
  color: #888;
}

.post h2.headline {
  font: normal 13px/1.5em "Varela Round", Helvetica, Arial, sans-serif;
  margin: -5px 0 40px 0;
  color: #b2b9be;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
}

#post-list h2 {
  font: normal 17px/1.5em "Varela Round", Helvetica, Arial, sans-serif;
  color: #888;
  max-width: 400px;
  margin-top: 2px;
}

h1, h2, h3, h4, h5, h6 { color: #222; font-weight: bold; }
h1 { font-size: 2em; letter-spacing: -1px; }
h2 { font-size: 1.35em; font-weight: 400; }
h3 { font-size: 1.17em; font-weight: 400; }
h4 { font-size: 1.12em; }
h5 { font-size: 0.83em; }
h6 { font-size: 0.75em; margin-bottom: 6px; }

p.small {
  color: #333;
  font-size: 14px;
  line-height: 1.5;
  display: block;
}

blockquote {
  padding-left: 15px;
  border-left: 3px solid #bbb;
  color: #888;
}

hr {
  display: block;
  margin: 3rem auto;
  max-width: 6rem;
  border: 0;
  border-top: 1px solid #eee;
}

span.code, pre { 
  font-family: 'Fira Code', Menlo, Monaco, 'Source Code Pro', Courier, monospace; 
}

span.code { background-color: #eee; font-size: 14px; }

pre  {
  white-space:pre-wrap;
  padding:20px;
  background-color: #fdfdfd;
  overflow:auto;
  border-radius: 3px;
  background: #272b2d;
  font-size: 13px;
  line-height: 1.5em;
  font-weight: 500;
  color: #888;
}

table {
  width: 100%;
  margin: 40px 0;
  border-collapse: collapse;
  font-size: 13px;
  line-height: 1.5em;
}

th,td {
  text-align: left;
  padding-right: 20px;
  vertical-align: top;
}

table td,td {
  border-spacing: none;
  border-style: solid;
  padding: 10px 15px;
  border-width: 1px 0 0 0;
}

tr>td {
  border-top: 1px solid #eaeaea;
}

tr:nth-child(odd)>td {
  background: #fcfcfc;
}

thead th,th {
  text-align: left;
  padding: 10px 15px;
  height: 20px;
  font-size: 13px;
  font-weight: bold;
  color: #444;
  border-bottom: 1px solid #dadadc;
  cursor: default;
  white-space: nowrap;
}

img {
  width: 100%;
  max-width: 100%;
  border-radius: 3px;
}

/* Navigation */
nav {
  text-align: center;
  max-width: 600px;
  padding: 1em 1em 0 1em;
  margin: auto;
}

nav a.btn {
  padding: 0.2em;
  color: #222;
  width: 125px;
}

nav a.btn:hover, a.btn.active {
  background-color: #222;
  color: white;
  border: 0.175em solid #222;
}

/* Watermark */
#watermark {
  position: absolute;
  bottom: 8px;
  right: 8px;
  height: 48px;
  width: 48px;
}

/* Profile */
.profile #wrapper {
  padding: 60px 40px 0px;
  max-width: 600px;
  margin: 0 auto;
}

.profile .top {
  text-align: center;
  position: relative;
}

.profile .me {
  margin-bottom: 40px;
  padding-bottom: 40px;
}

.profile #avatar {
  display: inline-block;
  width: 175px;
  height: 175px;
  margin-bottom: 20px;
  border-radius: 50%;
  border: 5px solid #222;
  padding: 0.25em;
}

#avatar.small {
  width: 45px;
  height: 45px;
  padding: 0.05em;
  border: 3px solid #222;
  margin: 0;
  margin-right: 20px;
}

.profile h1 {
  font-weight: 400;
}

.profile h2 {
  font-weight: 300;
  color: #bbb;
  margin-top: 10px;
  font-style: normal;
}

/* Documents */

#documents {
  font-size: 1.2em;
  word-spacing: 0.2em;
  text-align: center;
  position: relative;
}

/* Post List */
#post-list,#archive-list {
  margin-top: 100px;
}

#post-list li,#archive-list li {
  list-style-type: none;
}

#post-list li:last-child {
  margin-bottom: 0;
}

#post-list li+li {
  padding-top: 20px;
  border-top: 1px solid #eee;
}

#post-list a {
  color: #333;
  display: block;
  font: bold 19px/1.7 "Helvetica Neue",helvetica,Arial,sans-serif;
}

#post-list .dates {
  float: right;
  position: relative;
  top: 1px;
  font: 300 17px/1.8 "Helvetica Neue",helvetica,Arial,sans-serif;
  color: #888;
}

#post-list-footer {
  border-top: 1px solid #eee;
  margin-top: 20px;
  padding-top: 100px;
}

#archive-link {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  border-radius: 4px;
  padding: 3px 10px 6px;
  box-shadow: 0 0 0 1px hsla(207,83%,80%,1);
}

#archive-link:hover {
  background: #5694f1;
  color: #fff;
  box-shadow: 0 0 0 1px #5694f1;
}

#archive-link span {
  position: relative;
  top: 0;
  font-size: 17px;
}

#footer {
  box-shadow: inset 0 1px 0 #eee;
  padding: 40px 0 0 0;
  margin-top: 40px;
  text-align: center;
}

/* Post Page */
#header {
  border-bottom: 1px solid #eee;
}

.post {
  margin: 80px 0 0 0;
}

#post-meta {
  font-size: 13px;
  font-weight: bold;
  line-height: 1.4;
  border-top: 1px solid #eee;
  padding-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  color:#444;
  border-bottom: 1px solid #eee;
}

#post-meta div span {
  color: #aaa;
  font-weight: 500;
  display: block;
}

#post-meta div span.dark {
  color: #1E2025;

}

#post-meta div {
  margin: 0 25px 0 0;
  float: left;
}

/* Post Navigation */
#post-nav {
  border-top:1px solid #eee;
  text-align:center;
  padding-top:20px;
  font-size:13px;
  font-weight:500;
  margin-top: 40px;
}

#post-nav span {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  position: relative;
}

#post-nav span.prev {
  float: left;
}

#post-nav span.next {
  float: right;
}

#post-nav span .arrow {
  position: relative;
  padding: 1px;
}

#post-nav span.prev:hover .arrow {
  left: -4px;
}

#post-nav span.next:hover .arrow {
  right: -4px;
}

#post-nav span.prev:hover {
  left: -3px;
}

#post-nav span.next:hover {
  right: -3px;
}

/* Social */
#social {
  height: 3em;
}

#social a {
  padding-left: 2px;
  padding-right: 2px;
}

/* Archive */
h1.archive {
  margin-bottom: 0px;
}

h2.month {
  width: 100%;
  font: bold 13px/1 "Helvetica Neue",helvetica,Arial,sans-serif;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

#archive-list li:last-child {
  margin-bottom: 0;
}

#archive-list a {
  display: block;
  font: bold 17px/1.7 "Helvetica Neue",helvetica,Arial,sans-serif;
  color: #333;
}

#archive-list .dates {
  float: right;
  position: relative;
  top: 1px;
  font: 300 17px/1.7 "Helvetica Neue",helvetica,Arial,sans-serif;
  color: #888;
}

#archive-list li a:hover,#archive-list li:hover .dates {
  color: #5694f1;
}

#post-meta img.avatar {
  height: 36px;
  width: 36px;
  float: left;
  border-radius: 50%;
  margin-top: 3px;
  margin-right: 20px;
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #eee;
}

#post-list.archive.readmore h3{
  font: 400 20px "Helvetica Neue", Helvetica,Arial,sans-serif;
  margin-bottom: 30px;
}

#post-list.archive.readmore a{
  font: 400 16px/1.6 "Helvetica Neue",helvetica,Arial,sans-serif;
  color: #5694f1;
}

#post-list.archive.readmore a:hover{
  opacity: 0.8;
}

#post-list.archive.readmore .dates{
  font: 300 16px/1.6 "Helvetica Neue",helvetica,Arial,sans-serif;
}

/* Media Queries */
@media screen and (max-width: 540px) {
  body { font-size: 18px; line-height: 1.5; }
  nav { margin-bottom: -1em; }
  nav a { margin-top: 0.25em; }
  nav a.btn { width: 5.1em; }
  #wrapper { padding: 0 20px; }
  #header { margin-bottom: 60px; border-bottom: 1px solid #eee; }
  #footer { margin-top: 60px; }
  #post-list, #archive-list { margin-top: 0; }
  #post-meta { margin-top: 60px; }
  #title { font-size: 17px; }
  #post-list .dates { display: none; }
  #post-list-footer { margin-top: 20px; padding-top: 40px; }
  .hidden-mobile { display: none; }
  .post { margin: 40px 0; }
  .post h2.headline { font-size: 13px; }
  .post h1 { font-size:24px; }
  .post h2 { font-size:20px; }
  ul { padding-left: 0; width: 75%; margin: auto; }
}
