{% include main.html %}
<body id="top">

  <div id="wrap">
    
    <div id="header">{% include header.html %}</div>
    
    <div id="navbar">{% include navbar.html %}</div>
    
    <div id="content">
      {% if page.image %}<img src="/media/{{ page.image }}" {% if page.image_width %}width="{{ page.image_width }}"{% endif %} {% if page.image_alt %}alt="{{ page.image_alt }}"{% endif %} class="center" />{% endif %}
      <div id="page">{{ content }}</div>
      <div class="clearfix"></div>  
    </div>
    
    <div id="footer">{% include footer.html %}</div>

  </div>

</body>
</html>
