{% include header.html %}
<body id="top">

  <div id="wrap">
    
    <div id="header">
      
      <h1>Alexander Safatli</h1>
      <h2><em>{{ page.subtitle }}</em></h2>
      
    </div>
    
    <div id="navbar">
      
      <ul>
        <li><a href="index.html" class="active">Home</a></li>
        <li><a href="media/cv.pdf">Curriculum Vitae</a></li>
      </ul>
      
    </div>
    
    <div id="content">
      <div id="margin">{{ content }}</div>
      {% if page.image %}<img src="media/{{ page.image }}" alt="{{ page.image_alt }}" class="side" />{% endif %}
      <div class="clearfix"></div>  
    </div>
    
    <div id="footer">{% include footer.html %}</div>

  </div>

</body>
</html>
